html{
    scroll-behavior: smooth;
    font-family: 'Arial';

}
body{
    margin: 0;
}
.fond_img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter: grayscale(50%);
}
.barre_nav{
    padding : 20px;
    position:fixed;
    width: 100%;
    top:0;
    display: inline-block;
    justify-content:space-between;
    font-weight: 900;
    color:#daaa00;
    background-color: #ffffff;
    text-decoration: none;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
    font-family: 'Shantell Sans', cursive;
}
.barre_nav>a{
    padding-left:60px;

}
.navigation{
    float:right;
    display: inline;
    margin-right:74px;
    
}
.navigation>a{
    margin : 0 20px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: inline-block;
    background: linear-gradient(#aaa, #051757) no-repeat left bottom;
    background-size: 0 1px;
    transition: .2s ease-in;
}
.navigation>a:hover{
    color:#daaa00;
    background-size: 100% 1px;
}
.start_page{
    height:550px;
    font-family: 'Arial', cursive;

}
.acceuil_part{
    position: absolute;
    font-size: 30px;
    padding:2% 5%;
    left: 5%;   
    top:35%;
    display: block;
    text-align: center;
    border:solid;
    border-width: 5px;
    border-color: white;
    backdrop-filter: blur(3px);
}

h2{
    text-align: center;
    padding-top: 100px ;
    font-family: 'Satisfy', cursive;
}
.block_ligne{
    background-color: #daaa00;
    height: 1px;
    margin : 20px auto;
    margin-bottom: 40px;
}
.propos_part{
    width: 72%;
    height:35%;
    text-align: center;
    margin-left:14%;
    font-size: 19px;
}

.wrapper{
    display:-moz-marker;
    box-shadow: #daaa00 0px 1px 5px;
    width: 40%;
    height:35%;
    text-align: center;
    margin-left:30%;

}

.cv{
    color: #051757;
    background-color: lightgrey;
    height: 30px;
    width: 135px;
    font-size: x-large;
    font-style: italic;
    box-shadow: #daaa00 0px 1px 15px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}
.button_contribution{
    box-shadow: #051757 2px 2px 15px;
    height: 20%;
    width: 30%;
}

.contribution_block_pos{
    display: flex;
    flex-flow:wrap;
    justify-content: space-evenly;
}

.button_contribution>h3{
    color:#051757;
    text-align: center;
}
.button_contribution>p{
    padding:0;
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    text-decoration: solid;
}

.btnstageSIO1{
    color: #051757;
    background-color: lightgrey;
    height: 30px;
    font-style: italic;
    box-shadow: #daaa00 0px 1px 15px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 190px;   
}

.btnContact{
    color: #051757;
    background-color: lightgrey;
    height: 30px;
    font-style: italic;
    box-shadow: #daaa00 0px 1px 15px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 160px;
}

.contact{
    font-size:medium;
    color: #051757;
    text-align: center;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.acceuil_stage{
    position: absolute;
    font-size: 30px;
    padding:2% 5%;
    left: 20%;   
    top:28%;
    display: block;
    text-align: center;
}
.contexte{
    width: 72%;
    height:35%;
    text-align: center;
    margin-left:14%;
    font-size: 19px;
}
.contexte{
    display: block;
    margin-top: 45%;
}
h4{
    text-align: left;
    margin-left: 11%;
}
.btnBTS{
    color: #051757;
    background-color: lightgrey;
    height: 30px;
    font-style: italic;
    box-shadow: #daaa00 0px 1px 10px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 100px;
    margin-left: 1%;
}
/* -- ARROW 4      -- */

.arrow-4 {
	/* duplicate the triange */
	position: relative;
	height: 0px; width: 0px;
	border: 8px solid;
	border-color: 
        #daaa00
		#daaa00
		transparent
		transparent;
	transform: rotate(400deg); 
    margin-left: 20%;
}

.arrow-4:before, .arrow-4:after {
	content: '';
	display: block;
	position: absolute;
	
	/* set up more triangles */
	height: 0; width: 0;
	
	/* half the parent border
	   rounded up */
	border: 5px solid;	
}

.arrow-4:before {
	border-color:
        #daaa00
		transparent
		transparent
		#daaa00;
	display: block;
	top: -1px; right: 0px;
	transform-origin: top right;
	transform: rotate(45deg); 
}

.arrow-4:after {
	border-color:
		transparent
		#daaa00
		#daaa00
		transparent;
	top: 0px; right: -1px;
	transform-origin: top right;
	transform: rotate(-45deg);
}
.a{
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-top: -2%;
}
/* -- ARROW 42     -- */

.arrow-42 {
	/* duplicate the triange */
	position: relative;
	height: 0px; width: 0px;
	border: 8px solid;
	border-color: 
        #daaa00
		#daaa00
		transparent
		transparent;
	transform: rotate(400deg); 
    margin-left: 30%;
}

.arrow-42:before, .arrow-42:after {
	content: '';
	display: block;
	position: absolute;
	
	/* set up more triangles */
	height: 0; width: 0;
	
	/* half the parent border
	   rounded up */
	border: 5px solid;	
}

.arrow-42:before {
	border-color:
        #daaa00
		transparent
		transparent
		#daaa00;
	display: block;
	top: -1px; right: 0px;
	transform-origin: top right;
	transform: rotate(45deg); 
}

.arrow-42:after {
	border-color:
		transparent
		#daaa00
		#daaa00
		transparent;
	top: 0px; right: -1px;
	transform-origin: top right;
	transform: rotate(-45deg);
}
.b{
    display: block;
    text-align: left;
    margin-left: 35%;
    margin-top: -2%;
    font-size: medium;
}
.c{
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-top: -18px;
}
.locaux{
    display: block;
    margin-left: 23%;

}
iframe{
    display: block;
    height: 200px;
    width: 400px;
    margin-left: 55%;
    margin-top: -10%;
}
.bddtxt{
    font-size: large;
    text-align: center;
}

/* carrousel */

.pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    5% {
      transform: translateX(0);
      opacity: 1;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(-200px);
      opacity: 0;
    }
    50% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
      }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(43%);
    opacity: 0;
    animation: display 16s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
  img:nth-child(6) {
    animation-delay: 10s;
  }
  img:nth-child(7) {
    animation-delay: 12s;
  }
  img:nth-child(8) {
    animation-delay: 14s;
  }

.pcarousselle{
    text-align: center;
    font-size: large;
}
.rtnindex{
    color: #051757;
    background-color: lightgrey;
    height: 40px;
    font-style: italic;
    box-shadow: #daaa00 0px 1px 15px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    width: 200px;
    margin-left: 43%;
}
.rtnp{
    margin-top: 10px;
    margin-left: 10px;
}
.acceuil_bts{
    position: absolute;
    font-size: 30px;
    padding:2% 5%;
    left: 30%;   
    top:30%;
    display: block;
    text-align: center;
}
.intro{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
}
.présentation{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
}


.button_contribution_bts{
    box-shadow: #051757 2px 2px 15px;
    height: 800px;
    width: 600px;
}

.contribution_block_bts{
    display: flex;
    flex-flow:wrap;
    justify-content: space-evenly;
}

.button_contribution_bts>h3{
    color:#051757;
    text-align: center;
}
.button_contribution_bts>p{
    padding:0;
    font-family: 'Shantell Sans', cursive;
    text-align: justify;
    text-decoration: solid;
}

.button_contribution_bts2{
    box-shadow: #051757 2px 2px 15px;
    height: 800px;
    width: 600px;
}

.contribution_block_bts2{
    display: flex;
    flex-flow:wrap;
    justify-content: space-evenly;
}

.button_contribution_bts2>h3{
    color:#051757;
    text-align: center;
}
.button_contribution_bts2>p{
    padding:0;
    font-family: 'Shantell Sans', cursive;
    text-align: justify;
    text-decoration: solid;
}
.wp-block-quote{
    text-align: center;
    display: inline-block;
    margin-left: 36%;
}
.Rapport{
    color: #051757;
    background-color: lightgrey;
    height: 30px;
    width: 135px;
    font-size: large;
    font-style: italic;
    box-shadow: #daaa00 0px 1px 15px;
    border-radius: 50px;
    display: block;
    text-decoration: none;
    margin-left: 45%;
}
